
        <div class="row spacing">
            <div class="col-lg-3 col-md-4">
                <app-sidetprofile></app-sidetprofile>
            </div>
            <div class="col-md-8 col-lg-9 card-box">
                <div class="navigation d-flex justify-content-between">
                    <div class="bloc-nav">
                        <ul class="nav coach-nav" id="myTab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="ginfo-tab" data-bs-toggle="tab" data-bs-target="#ginfo" role="tab" aria-controls="userinfo" aria-selected="true" >Notifications</a>
                            </li>
                            
                          </ul>
                    </div>
                </div>
                <div class="tab-content" id="myTabContent">
                    <!-- info form-->
                    <div class="tab-pane fade show active" id="ginfo" role="tabpanel" aria-labelledby="ginfo-tab">
                        <div class="container-fluid " style="margin-top:30px">
                            <p class="text-center" *ngIf="mynotifs?.length==0"> You haven't received any notifications until now</p>


                         <div class="row " >  
                             <ng-container *ngFor="let notif of mynotifs | paginate: { itemsPerPage: 5, currentPage: p } ">

                             
                                    <div class="toast info" *ngIf="notif.notif_type=='request'">
                                        <div class="outer-container">
                                            {{notif.notif_date}}

                                        </div>
                                        <div class="inner-container">
                                            <p>Request</p>
                                            <p>{{notif.content}}</p>
                                        </div>
                                        <button  (click)="gotoapp()" >&gt;</button>
                                    </div>
                                    <div class="toast warning" *ngIf="notif.notif_type=='edited'">
                                        <div class="outer-container">
                                            {{notif.notif_date}}

                                        </div>
                                        <div class="inner-container">
                                            <p>Warning</p>
                                            <p>{{notif.content}}</p>
                                        </div>
                                        <button  (click)="gotoapp()" >&gt;</button>
                                    </div>

                                    <div class="toast error" *ngIf="notif.notif_type=='canceled'">
                                        <div class="outer-container">
                                            {{notif.notif_date}}

                                        </div>
                                        
                                        <div class="inner-container">
                                            <p>Warning</p>
                                            <p>{{notif.content}}</p>
                                        </div>
                                        <button  (click)="gotoapp()" >&gt;</button>
                                    </div>




                                </ng-container>


                         </div>

                         <br>
                         <pagination-controls *ngIf="mynotifs?.length>4" style="margin-top:15px" class="text-center" (pageChange)="p = $event"></pagination-controls>



                      

                           </div>


                     </div>
                    </div>
                  
                  



                </div>
            </div>

  


