<!-- begin::Row -->
<div class="row gy-5 g-xl-8">

  <div class="col-xl-3">
    <app-stats-widget5
      svgIcon="../../../../assets/dashboard/media/icons/duotune/communication/com014.svg"
      class="card bg-warning hoverable card-xl-stretch mb-xl-8"
      color="warning"
      iconColor="white"
      [title]="numtrainers"
      description="Trainers"
    ></app-stats-widget5>
  </div>

  <div class="col-xl-3">
    <app-stats-widget5
      svgIcon="../../../../assets/dashboard/media/icons/duotune/communication/com013.svg"
      class="card bg-white hoverable card-xl-stretch mb-xl-8"
      color="white"
      iconColor="primary"
      [title]="numcustomers"
      description="Customers"
    ></app-stats-widget5>
  </div>

  <div class="col-xl-3">
    <app-stats-widget5
      svgIcon="../../../../assets/dashboard/media/icons/duotune/ecommerce/ecm008.svg"
      class="card bg-dark hoverable card-xl-stretch mb-xl-8"
      color="dark"
      iconColor="white"
      [title]="appointments?.length"
      description="Appointments"
    ></app-stats-widget5>
  </div>

  <div class="col-xl-3">
    <app-stats-widget5
      svgIcon="../../../../assets/dashboard/media/icons/duotune/general/gen028.svg"
      class="card bg-warning hoverable card-xl-stretch mb-xl-8"
      color="warning"
      iconColor="white"
      [title]="numspecs"
      description="Specialities"
    ></app-stats-widget5>
  </div>

</div>
<!-- end::Row -->

<div class="row gy-5 g-xl-8">

  <div class="col-xxl-5">
    <app-lists-widget8
    class="card card-xxl-stretch mb-xl-3"
    chartColor="success"
    chartHeight="150px"
    [trainers]="trainers"
  ></app-lists-widget8>
  </div>

  <div class="col-xl-7">

    <app-charts-widget1    *ngIf="data"    
    [data]="data"     

    class="card card-xl-stretch mb-xl-8">
    </app-charts-widget1>
  </div>

 

</div>


<!-- begin::Row -->
<div class="row gy-5 gx-xl-8">
  <div class="col-xxl-4">
    <app-lists-widget3
      class="card card-xxl-stretch mb-xl-3"
    ></app-lists-widget3>
  </div>
  
  <div class="col-xl-8">
    <app-tables-widget10
      class="card card-xxl-stretch mb-5 mb-xl-8"       [users]="users"

    ></app-tables-widget10>
  </div>
</div>
<!-- end::Row -->

<!-- begin::Row -->
<div class="row gy-5 g-xl-8">
 
  
  <div class="col-xxl-7">
    <app-tables-widget5
      class="card card-xxl-stretch mb-5 mb-xxl-8"
    ></app-tables-widget5>
  </div>

</div>
<!-- end::Row -->








