
        <div class="row spacing">
            <div class="col-lg-3 col-md-4">
                <app-sideprofile></app-sideprofile>
            </div>
            <div class="col-md-8 col-lg-9 card-box">
                <div class="navigation d-flex justify-content-between">
                    <div class="bloc-nav">
                        <ul class="nav coach-nav" id="myTab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="ginfo-tab" data-bs-toggle="tab" data-bs-target="#ginfo" role="tab" aria-controls="userinfo" aria-selected="true" (click)="onresetformA()">General information</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="gimage-tab" data-bs-toggle="tab" data-bs-target="#gimage" role="tab" aria-controls="userimage" aria-selected="false" (click)="onresetformB()">Image</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="gpwd-tab" data-bs-toggle="tab" data-bs-target="#gpwd" role="tab" aria-controls="userpassword" aria-selected="false" (click)="onresetformC()">password</a>
                            </li> 
                          </ul>
                    </div>
                </div>
                <div class="tab-content" id="myTabContent">
                    <!-- info form-->
                    <div class="tab-pane fade show active" id="ginfo" role="tabpanel" aria-labelledby="ginfo-tab">
                       <form [formGroup]="registerFormC" (ngSubmit)="onRegisterClient()" >
                            <div class="row">
                               <div class="form-group mt-3 mb-3 col-md-6"> 
                                   <label for="inputName" class="form-label">First Name</label> <input type="text"  class="form-control" formControlName="firstname" id="inputfn" placeholder="Enter your firstname" > 
                                    <div *ngIf="formControl.firstname.touched && formControl.firstname.errors" class="text-danger">
                                       <div  class="mt-1"   *ngIf="formControl.firstname.errors.required"><i class="ti-info-alt"></i> First Name is required.</div>
                                   </div>
                               </div>
                                <div class="form-group mt-3 mb-3 col-md-6"> 
                                    <label for="inputName" class="form-label">Last Name</label> <input type="text"   class="form-control" formControlName="secondname"  id="inputln" placeholder="Enter your secondname" > 
                                    <div *ngIf="formControl.secondname.touched && formControl.secondname.errors" class="text-danger">
                                        <div class="mt-1" *ngIf="formControl.secondname.errors.required"><i class="ti-info-alt"></i> Last Name is required.</div>
                                    </div>
                                </div>
                            </div>
                            <!---->
                            <div class="row">
                                <div class="form-group mt-3 mb-3 col-md-6"> 
                                    <label for="inputName" class="form-label">Email</label> 
                                    <input type="email" formControlName="email"  name="email" class="form-control" id="inputemail" placeholder="toto@exemple.com"> 
                                    <div *ngIf="formControl.email.touched && formControl.email.errors" class="text-danger">
                                        <div  class="mt-1"   *ngIf="formControl.email.errors.required"><i class="ti-info-alt"></i> Email is required.</div>
                                        <div   class="mt-1"   *ngIf="formControl.email.errors.email"><i class="ti-info-alt"></i> Email must be valid.</div>
                                    </div>
                                </div>
                                <div class="form-group mt-3 mb-3 col-md-6"> 
                                    <label for="inputName" class="form-label">Date of birth</label> 
                                    <input  formControlName="datebirth"  class="form-control"  id="inputdate" name="date" placeholder="MM/DD/YYY" type="date">
                                    <div *ngIf="formControl.datebirth.touched && formControl.datebirth.errors" class="text-danger">
                                       <div  class="mt-1"*ngIf="formControl.datebirth.errors.required"><i class="ti-info-alt"></i> Date of Birthday is required.</div>
                                    </div>
                                </div>
                            </div>
                            <!---->
                            <div class="row">    
                                <div class="form-group mt-3 mb-3 col-md-6"> 
                                   <label for="inputName" class="form-label">Mobile Number</label> <input type="phone" formControlName="phone"  class="form-control" id="inputphone" placeholder="+44" > 
                                   <div *ngIf="formControl.phone.touched && formControl.phone.errors" class="text-danger">
                                       <div  class="mt-1"   *ngIf="formControl.phone.errors.required"><i class="ti-info-alt"></i> Mobile Number is required.</div>
                                       <div  class="mt-1"   *ngIf="formControl.phone.errors.pattern"><i class="ti-info-alt"></i> Mobile Number is invalid.</div>
                                   </div>
                               </div>
                                <div class="form-group mt-3 mb-3 col-md-6"> <label for="inputName" class="form-label">Gender</label> 
                                    <select formControlName="gender" class="form-control" placeholder="Man">
                                        <option value="H"> Man </option>
                                        <option value="F">Women </option>
                                    </select>
                                    <div *ngIf="formControl.gender.touched && formControl.gender.errors" class="text-danger">
                                       <div class="mt-1" *ngIf="formControl.gender.errors.required"><i class="ti-info-alt"></i> Gender is required.</div>
                                    </div>
                                </div>
                            </div> 
                             
                            <div class="mt-3 mb-3 col-md-12"> 
                                <label for="inputName" class="form-label">Adresse</label> 
                                <textArea id="inputlocation" class="form-control" placeholder="Enter your home adress" required=""> </textArea>
                               <!-- <div *ngIf="formControl.adress.touched && formControl.adress.errors" class="text-danger">
                                    <div  class="mt-1" *ngIf="formControl.adress.errors.required"><i class="ti-info-alt"></i> Home adress is required.</div>
                                </div>-->  
                            </div> 
                             <!--submit btn-->
                            <div class="mt-3 mb-3 row"> 
                                <button class="btn btn-primary" type="submit" style="background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);">Save</button> 
                            </div>
                
                       </form>
                    </div>
                    <!-- image form -->
                    <div class="tab-pane fade" id="gimage" role="tabpanel" aria-labelledby="gimage-tab">
                        <form [formGroup]="registerFormC" (ngSubmit)="onRegisterClient()" >
                           <div class="row justify-content-center">
                            <div class="containerimg">
                                <div class="wrapper">
                                   <div class="image">
                                      <img src="https://www.gevaudan-authentique.com/wp-content/uploads/2018/06/no-image.jpg" alt="">
                                   </div>
                                   <div class="content">
                                      <div class="icon">
                                         <i class="fas fa-cloud-upload-alt"></i>
                                      </div>
                                      <div class="text">
                                         No file chosen, yet!
                                      </div>
                                   </div>
                                   <div id="cancel-btn">
                                      <i class="fas fa-times"></i>
                                   </div>
                                   <div class="file-name">
                                      File name here
                                   </div>
                                </div>
                                <button id="custom-btn">Choose a file</button>
                                <input id="default-btn" type="file" hidden>
                             </div>
                          </div>
                        </form>
                    </div>
                    <!-- password form -->
                    <div class="tab-pane fade" id="gpwd" role="tabpanel" aria-labelledby="gpwd-tab">
                        <form [formGroup]="registerFormC" (ngSubmit)="onRegisterClient()" >
                           <div class="row">
                            <div class="mb-3 col-md-12"> <label for="inputName" class="form-label">Old Password</label> <input type="password" formControlName="password"  class="form-control" id="inputpassword" placeholder="Enter your password" >
                               <div *ngIf="formControl.password.touched && formControl.password.errors" class="text-danger">
                                 <div  class="mt-1"   *ngIf="formControl.password.errors.required"><i class="ti-info-alt"></i> Password is required.</div>
                                 <div class="mt-1"   *ngIf="formControl.password.errors.minlength"><i class=" ti-info-alt"></i> Password length must be greater than 7 characters.</div>
                               </div>
                            </div>
                            <div class="mb-3 col-md-12"> <label for="inputName" class="form-label">New Password</label> <input type="password" formControlName="password"  class="form-control" id="inputpassword" placeholder="Enter your password" >
                                <div *ngIf="formControl.password.touched && formControl.password.errors" class="text-danger">
                                  <div  class="mt-1"   *ngIf="formControl.password.errors.required"><i class="ti-info-alt"></i> Password is required.</div>
                                  <div class="mt-1"   *ngIf="formControl.password.errors.minlength"><i class=" ti-info-alt"></i> Password length must be greater than 7 characters.</div>
                                </div>
                             </div>
                            <div class="mb-3 col-md-12"> <label for="inputName" class="form-label">Repate Password</label> <input type="password" formControlName="repeatpassword"  class="form-control" id="inputrpassword" placeholder="Repeat your password" required=""> 
                                <div *ngIf="formControl.repeatpassword.touched && formControl.repeatpassword.errors" class="text-danger">
                                    <div *ngIf="formControl.repeatpassword.errors.required"><i class=" ti-info-alt"></i> Confirm Password is required</div>
                                </div>
                            </div>
                          </div>
                          <div class="mt-3 mb-3 row"> <button class="btn btn-primary full-width" type="submit" style="background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);">Save</button> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
  


