<div class="booking-form">
	<form class="form" [formGroup]="formPassA" (ngSubmit)="changepass()">
	
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<span class="form-label">New Passowrd</span>
					<input class="form-control" type="password"   formControlName="password" placeholder="password">

					<div *ngIf="f.password.touched && f.password.invalid" class="text-danger">
                        <div *ngIf="f.password.errors?.required">*Passowrd is required.</div>
                    </div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<span class="form-label">Repeat Password</span>
					<input class="form-control" type="password"  formControlName="confirmpassword"  placeholder="confirm password">

					<div *ngIf="f.confirmpassword.touched && f.confirmpassword.invalid" class="text-danger">
                        <div *ngIf="f.confirmpassword.errors?.required">*confirm password is required.</div>
                    </div>
				</div>
			</div>
			
		</div>
	
		<div class="form-btn">
			<button class="submit-btn" type="submit" >Edit Passowrd</button>
		</div>
	</form>
</div>