<footer>
    <div class="footer-wrappr">
        <div class="footer-area footer-padding section-bg1">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-caption">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="/assets/site/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-8 col-md-8 col-sm-6">
                        <div class="row d-flex justify-content-around menu mt-25">
                        <h4 class="col">Explore</h4>
                        <h4 class="col">About Us</h4>
                        <h4 class="col">Articles</h4>
                        <h4 class="col">For Partner</h4>
                        <h4 class="col">Contact Us</h4>
                        </div>
                    </div>
                </div>
                 <!-- footer-bottom area -->
                <div class="footer-bottom-area">
                    <div class="footer-border">
                        <div class="row d-flex justify-content-between">
                            <div class="col-lg-6">
                               <div class="footer-copy-right text-left">
                                    <p>
                                     &copy;{{date}}- All rights reserved
                                    </p>
                               </div>
                            </div>
                            <div class="col-lg-6">
                                 <div class="footer-social text-right">
                                     <a href="#"><i class="fab fa-twitter"></i></a>
                                     <a href="#"><i class="fab fa-facebook-f"></i></a>
                                     <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
          
                </div>
            </div>
        </div>
    </div>  
</footer>
