<app-header></app-header>
<main class="mt-80">
  

    <div class="container py-5">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto">
                            <div class="card signup_v4 mb-30">
                                <div class="card-body">
                                    <h4 class="card-title text-center mt-4 mb-4" style="text-transform: uppercase;">Reset Password</h4>
                        
                                    <div class="tab-content" id="myTabContent">
                                                <!-- Login of Client-->
                                        <div class="tab-pane fade show active" id="loginclient" role="tabpanel" aria-labelledby="loginclient-tab">
                                            <form    [formGroup]="formRes" (ngSubmit)="ResetPassR()">
                                                <div class="form-row form-group">
                                                <p class="text-center">Please set a new password.                                                </p> 
                                                <div *ngIf="err != null" class="text-danger mt-2">
                                                    *{{ err }}
                                                  </div>
                                              
                                                  <div *ngIf="msg != null" class="text-success mt-2">
                                                    *{{ msg }}
                                                  </div>

                                                  <div class="mt-3 mb-3 col-md-12"> 
                                                    <label for="inputName" class="form-label">Email</label>
                                                    <input type="email" class="form-control"  formControlName="email"
                                                     placeholder="Enter your email" >

                                                     <div *ngIf="f.email.touched && f.email.invalid" class="text-danger">
                                                        <div *ngIf="f.email.errors?.required">*Email is required.</div>
                                                        <div *ngIf="f.email.errors?.email">*The email must be a valid email address.</div>
                                                     </div>
                                                </div>
                                                    <div class="mt-3 mb-3 col-md-12"> 
                                                        <label for="inputName" class="form-label">Password</label>
                                                        <input type="password" class="form-control"  formControlName="password"
                                                      placeholder="Enter your Password" >

                                                      <div *ngIf="f.password.touched && f.password.invalid" class="text-danger">
                                                        <div *ngIf="f.password.errors?.required">*Password is required.</div>
                                                       </div>
                                                    </div>
                                                    <div class="mt-3 mb-3 col-md-12"> 
                                                        <label for="inputName" class="form-label">Confirm password</label>
                                                        <input type="password" class="form-control" formControlName="password_confirmation" placeholder="Enter your Confirm Password" >
                                                        <div *ngIf="f.password_confirmation.touched && f.password_confirmation.invalid" class="text-danger">
                                                            <div *ngIf="f.password_confirmation.errors?.required">*Confirm password is required.</div>
                                                            <div *ngIf="f.password_confirmation.errors?.matching">
                                                              Confirm Password does not match
                                                            </div>
                                                          </div>
                                                   
                                                    </div>

                                                </div>
                                                <div class="mt-3 mb-3 row"> <button class="btn btn-primary full-width" type="submit">Recover Password</button> </div>
                                            </form>
                                        
                        
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
             </div>
         </div>
    </div>



</main>
<app-footer></app-footer>


