
        <div class="row spacing">
            <div class="col-lg-3 col-md-4">
                <app-sidetprofile> </app-sidetprofile>
            </div>
            <div class="col-md-8 col-lg-9 card-box">
                <div class="navigation d-flex justify-content-between">
                    <div class="bloc-nav">
                        <ul class="nav coach-nav" id="myTab" role="tablist">
                            <li class="nav-item"   (onclick)="NgInit()">
                              <a class="nav-link active" id="ginfo-tab" data-bs-toggle="tab" data-bs-target="#ginfo" role="tab" aria-controls="userinfo" aria-selected="true" >APPOINTMENT</a>
                            </li>
                            <li class="nav-item"   (onclick)="NgInit()">
                                <a class="nav-link" id="gpwd1-tab" data-bs-toggle="tab" data-bs-target="#gpwd1" role="tab" aria-controls="userpassword" aria-selected="false">REQUESTS</a>
                              </li> 
                            <li class="nav-item"   (onclick)="NgInit()">
                              <a class="nav-link" id="gimage-tab" data-bs-toggle="tab" data-bs-target="#gimage" role="tab" aria-controls="userimage" aria-selected="false" >UPCOMING</a>
                            </li>
                            <li class="nav-item"   (onclick)="NgInit()">
                              <a class="nav-link" id="gpwd-tab" data-bs-toggle="tab" data-bs-target="#gpwd" role="tab" aria-controls="userpassword" aria-selected="false">COMPLETED</a>
                            </li> 

                        
                          </ul>
                    </div>
                </div>
                <div class="tab-content mt-15" id="myTabContent">
                    <!-- appointment form-->
                    <div class="tab-pane fade show active" id="ginfo" role="tabpanel" aria-labelledby="ginfo-tab">
                        <full-calendar [options]="calendarOptions"   
                        ></full-calendar>

                    </div>
                                        <!-- upcoming form-->

                            <div class="tab-pane fade mt-2" id="gimage" role="tabpanel" aria-labelledby="gimage-tab">
                                    
                              <div class="container-fluid" >
                                <p class="text-center" *ngIf="upcomingapp?.length==0"> You have not any appointments until now</p>

                                <div class="row" *ngFor="let upapp of upcomingapp | paginate: { itemsPerPage: 5, currentPage: p }">  
                                 <div class="col-12 mt-3">

                                        <article class="postcard light blue">
                                            <a class="postcard__img_link" href="#">
                                                <img class="postcard__img" src="{{url}}/storage/images/trainer/{{upapp.appointment_client?.photo_profil}}" alt="Image Title" />
                                            </a>
                                            <div class="postcard__text">
                                                <h1 class="postcard__title blue"><a >  <strong style="color: #2955AB ;"> {{upapp.appointment_client.first_name}} {{upapp.appointment_client?.last_name}}</strong></a></h1>
                                                <div class="postcard__subtitle small">
                                                        <i class="fas fa-calendar-alt mr-2" style="color:black"></i> &nbsp;  <strong style="color:black">{{upapp.appointment_date}} At {{upapp.appointment_start}}-{{upapp.appointment_end}}</strong> 
                                                </div>
                                                <div class="postcard__bar"></div>
                                                <div class="postcard__preview-txt">

                                                    

                                                <p>      Mobile: <strong>{{upapp.appointment_client.mobile_number}}</strong>  </p>


                                                <p>     Activity: <strong>{{upapp.appointment_activity}}</strong> </p>
                                                <p>     Status: <strong>{{upapp.appointment_payement_status}}</strong> </p>

                                                </div>
                                                <ul class="postcard__tagbox">
                                                    <li *ngIf="upapp.appointment_payement_status=='pending'" class="tag__item" (click)="openEditForm(upapp.appointment_id)" ><i class="fas fa-edit mr-2"></i> Edit </li>
                                                    <li *ngIf="upapp.appointment_payement_status=='pending'" class="tag__item play blue" (click)="reject(upapp.appointment_id)" >
                                                        <a ><i class="fas fa-times mr-2"></i> Cancel </a>
                                                    </li>

                                                    <li *ngIf="upapp.appointment_payement_status=='paid'" class="tag__item" (click)="generatePDF(upapp.appointment_id)" ><i class="fas fa-file mr-2"></i> Invoice </li>

                                                </ul>
                                            </div>
                                        </article>

                                </div>
                                </div>
                                <br>
                                <pagination-controls *ngIf="upcomingapp?.length>4" style="margin-top:15px" class="text-center" (pageChange)="p = $event"></pagination-controls>



                                 <!--  <div class="row" *ngFor="let upapp of upcomingapp" >
                                      <div class="col-12 mt-3">
                                          <div class="card">
                                              <div class="card-horizontal">
                                                  <div class="img-square-wrapper">
                                                      <img class="" width="300px" height="250px" src="{{url}}/storage/images/trainer/notyet.png" alt="Card image cap">
                                                  </div>
                                                  <div class="card-body"  >
                                                      <div style="float:right;"> 
                                                          <button type="button" class="btn2 btn-outline-primary btn-sm" (click)="openEditForm(upapp.appointment_id)" >Edit</button> &nbsp;
                                                          <button type="button"  class="btn2 btn-outline-primary btn-sm"  >Cancel</button>
                                                      </div>

                                                      <div  style="float:left;">  
                                                      <p class="card-text"  >Client: <strong>{{upapp.appointment_client.first_name}} {{upapp.appointment_client.last_name}}</strong> </p>
                                                      <p class="card-text"  >Mobile: <strong>{{upapp.appointment_client.mobile_number}}</strong> </p>
                                                      <p class="card-text"  >Date and time:: <strong>{{upapp.appointment_date}} At {{upapp.appointment_start}}-{{upapp.appointment_end}}</strong> </p>
                                                      <p class="card-text"  >Activity:<strong>{{upapp.appointment_activity}}</strong> </p>
                                                      <p class="card-text"  >Status: <strong>{{upapp.appointment_payement_status}}</strong> </p>

                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="card-footer">
                                                  <small class="text-muted">Previous workouts:</small> <strong>no workouts to show</strong>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                -->
                              </div>
                      </div>
                    <!-- password form -->
                    <div class="tab-pane fade" id="gpwd" role="tabpanel" aria-labelledby="gpwd-tab">
                        <div class="container-fluid">

                            <p class="text-center" *ngIf="completedapp?.length==0"> You have not any completed appointments until now</p>

                            <div class="row" *ngFor="let capp of completedapp  | paginate: { itemsPerPage: 5, currentPage: p }" >
                               <div class="col-12 mt-3">

              
                              
                                                        
                                        <article class="postcard light blue">
                                            <a class="postcard__img_link" href="#">
                                                <img class="postcard__img" src="{{url}}/storage/images/trainer/{{capp.appointment_client.photo_profil}}" alt="Image"  />
                                            </a>
                                            <div class="postcard__text">
                                                <h1 class="postcard__title blue"><a >  <strong style="color: #2955AB ;"> {{capp.appointment_client.first_name}} {{capp.appointment_client.last_name}}</strong></a></h1>
                                                <div class="postcard__subtitle small">
                                                        <i class="fas fa-calendar-alt mr-2" style="color:black"></i> &nbsp;  <strong style="color:black">{{capp.appointment_date}} At {{capp.appointment_start}}-{{capp.appointment_end}}</strong> 
                                                </div>
                                                <div class="postcard__bar"></div>
                                                <div class="postcard__preview-txt">

                                                    

                                                <p>      Mobile: <strong>{{capp.appointment_client.mobile_number}}</strong>  </p>


                                                <p>     Activity: <strong>{{capp.appointment_activity}}</strong> </p>
                                                </div>
                                            
                                            </div>
                                        </article>

                                </div>
                            </div>


                            <br>
                            <pagination-controls *ngIf="completedapp?.length>4" style="margin-top:15px" class="text-center" (pageChange)="p = $event"></pagination-controls>
   
                       </div>
                    </div>


                    <div class="tab-pane fade" id="gpwd1" role="tabpanel" aria-labelledby="gpwd1-tab">
                        <div class="container-fluid">

                               
                            <p class="text-center" *ngIf="requests?.length==0"> You have not any appointments requests until now</p>
 
                            <div class="row" *ngFor="let req of requests  | paginate: { itemsPerPage: 5, currentPage: p }" >
                                <div class="col-12 mt-3">
                                    <!-- 
                                            <div class="card">
                                                <div class="card-horizontal">
                                                    <div class="img-square-wrapper">
                                                        <img class="" width="300px" height="250px" src="{{url}}/storage/images/trainer/{{req.appointment_client?.photo_profil}}" alt="Card image cap">
                                                    </div>
                                                    <div class="card-body"  >
                                                        <div style="float:right;"> 
                                                            <button type="button" class="btn2 btn-outline-primary btn-sm" (click)="booknow(req.appointment_id)" >Book now</button> &nbsp;
                                                            <button type="button"  class="btn2 btn-outline-primary btn-sm" (click)="reject(req.appointment_id)" >Reject</button>
                                                        </div>

                                                        <div  style="float:left;" >  
                                                        <p class="card-text"  >Client: <strong>{{req.appointment_client.first_name}} {{req.appointment_client?.last_name}}</strong> </p>
                                                        <p class="card-text"  >Mobile: <strong>{{req.appointment_client.mobile_number}}</strong> </p>
                                                        <p class="card-text"  >Date and time:: <strong>{{req.appointment_date}} At {{req.appointment_start}}-{{req.appointment_end}}</strong> </p>
                                                        <p class="card-text"  >Activity:<strong>{{req.appointment_activity}}</strong> </p>
                                                        <p class="card-text"  >Status: <strong>{{req.appointment_payement_status}}</strong> </p>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <small class="text-muted">Previous workouts:</small> <strong>no workouts to show</strong>
                                                </div>
                                            </div>

                                        -->
                                

                                        <article class="postcard light blue">
                                            <a class="postcard__img_link" href="#">
                                                <img class="postcard__img" src="{{url}}/storage/images/trainer/{{req.appointment_client?.photo_profil}}" alt="Image Title" />
                                            </a>
                                            <div class="postcard__text">
                                                <h1 class="postcard__title blue"><a >  <strong style="color: #2955AB ;"> {{req.appointment_client.first_name}} {{req.appointment_client?.last_name}}</strong></a></h1>
                                                <div class="postcard__subtitle small">
                                                        <i class="fas fa-calendar-alt mr-2" style="color:black"></i> &nbsp;  <strong style="color:black" >{{req.appointment_date}} At {{req.appointment_start}}-{{req.appointment_end}}</strong> 
                                                </div>
                                                <div class="postcard__bar"></div>
                                                <div class="postcard__preview-txt">

                                                    

                                                <p>      Mobile: <strong>{{req.appointment_client.mobile_number}}</strong>  </p>


                                                <p>     Activity: <strong>{{req.appointment_activity}}</strong> </p>
                                                <p>     Status: <strong>{{req.appointment_payement_status}}</strong> </p>

                                                </div>
                                                <ul class="postcard__tagbox">
                                                    <li class="tag__item" (click)="booknow(req.appointment_id)" ><i class="fas fa-trash mr-2"></i> Book now </li>
                                                    <li class="tag__item play blue" (click)="reject(req.appointment_id)" >
                                                        <a ><i class="fas fa-times mr-2"></i> Reject </a>
                                                    </li>

                                                    <li class="tag__item play blue" (click)="gochat(req.appointment_client.client_id)" >
                                                        <a ><i class="fas fa-times mr-2"></i> Contact </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </article>
                                
                                </div>
                            </div>

                            <br>
                            <pagination-controls  *ngIf="requests?.length>4" style="margin-top:15px" class="text-center" (pageChange)="p = $event"></pagination-controls>
   
                       </div>
                    </div>



                </div>
            </div>
        </div> 
  


