<div class="card mb-5 mb-xl-10">
  <div class="card-body pt-9 pb-0">
    <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
      <div class="me-7 mb-4">
        <div
          class="
            symbol symbol-100px symbol-lg-160px symbol-fixed
            position-relative
          "
        >
          <img src="{{url}}/storage/images/trainer/{{user.photo_profil}}" width="200px" height="200px" alt="Trainer" />
          <div
            class="
              position-absolute
              translate-middle
              bottom-0
              start-100
              mb-6
              bg-success
              rounded-circle
              border border-4 border-white
              h-20px
              w-20px
            "
          ></div>
        </div>
      </div>

      <div class="flex-grow-1">
        <div
          class="
            d-flex
            justify-content-between
            align-items-start
            flex-wrap
            mb-2
          "
        >
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center mb-2">
              <a
                class="
                  text-gray-800 text-hover-primary
                  fs-2
                  fw-bolder
                  me-1
                  cursor-pointer
                "
              >
              {{user.first_name}} {{user.last_name}}

              </a>
              <a class="cursor-pointer">
                <span
                  [inlineSVG]="
                    '../../../../assets/dashboard/media/icons/duotune/general/gen026.svg'
                  "
                  class="svg-icon svg-icon-1 svg-icon-primary"
                ></span>
              </a>
              <a
                class="
                  btn btn-sm btn-light-success
                  fw-bolder
                  ms-2
                  fs-8
                  py-1
                  px-3
                  cursor-pointer
                "
                data-bs-toggle="modal"
                data-bs-target="#kt_modal_upgrade_plan"
              >
                Verified
              </a>
            </div>

            <div class="d-flex flex-wrap fw-bold fs-6 mb-4 pe-2">
              <a
                class="
                  d-flex
                  align-items-center
                  text-gray-400 text-hover-primary
                  me-5
                  mb-2
                  cursor-pointer
                "
              >
                <span
                  [inlineSVG]="
                    '../../../../assets/dashboard/media/icons/duotune/communication/com006.svg'
                  "
                  class="svg-icon svg-icon-4 me-1"
                ></span>
                <ng-container *ngIf="user.gender=='H'"> Male </ng-container>
                <ng-container *ngIf="user.gender=='F'"> Female </ng-container>
              </a>
              <a
                class="
                  d-flex
                  align-items-center
                  text-gray-400 text-hover-primary
                  me-5
                  mb-2
                  cursor-pointer
                "
              >
                <span
                  [inlineSVG]="
                    '../../../../assets/dashboard/media/icons/duotune/communication/com013.svg'
                  "
                  class="svg-icon svg-icon-4 me-1"
                ></span>
                DateBirth :{{user.datebirth}}


              </a>
              <a
                class="
                  d-flex
                  align-items-center
                  text-gray-400 text-hover-primary
                  mb-2
                  cursor-pointer
                "
              >
                <span
                  [inlineSVG]="
                    '../../../../assets/dashboard/media/icons/duotune/communication/com011.svg'
                  "
                  class="svg-icon svg-icon-4 me-1"
                ></span>
                {{user.email}}

              </a>
            </div>
            <div class="d-flex flex-wrap fw-bold fs-6 mb-4 pe-2">
              <a
                class="
                  d-flex
                  align-items-center
                  text-gray-400 text-hover-primary
                  me-5
                  mb-2
                  cursor-pointer
                "
              >
                <span
                  [inlineSVG]="
                    '../../../../assets/dashboard/media/icons/duotune/general/gen020.svg'
                  "
                  class="svg-icon svg-icon-4 me-1"
                ></span>
                {{user.experience_trainer}} years of experience
                
              </a>
              <a
                class="
                  d-flex
                  align-items-center
                  text-gray-400 text-hover-primary
                  me-5
                  mb-2
                  cursor-pointer
                "
              >
                <span
                  [inlineSVG]="
                    '../../../../assets/dashboard/media/icons/duotune/electronics/elc003.svg'
                  "
                  class="svg-icon svg-icon-4 me-1"
                ></span>
                {{user.mobile_number}}

              </a>
              <a
                class="
                  d-flex
                  align-items-center
                  text-gray-400 text-hover-primary
                  mb-2
                  cursor-pointer
                "
              >
                <span
                  [inlineSVG]="
                  '../../../../assets/dashboard/media/icons/duotune/general/gen018.svg'
                  "
                  class="svg-icon svg-icon-4 me-1"
                ></span>
                {{user.home_adress}}

              </a>
            </div>
            
           
          </div>

          <div class="d-flex my-4">
          
            <a
              class="btn btn-sm btn-primary me-3 cursor-pointer"
              data-bs-toggle="modal"
              data-bs-target="#kt_modal_offer_a_deal"
            >
              Hire Me
            </a>
 
          </div>
        </div>

        <div class="d-flex flex-wrap flex-stack">
          
          <div class="d-flex flex-column flex-grow-1 pe-8">
            <div class="d-flex flex-wrap">
              <div
                class="
                  border border-gray-300 border-dashed
                  rounded
                  min-w-125px
                  py-3
                  px-4
                  me-6
                  mb-3
                "
              >
                <div class="d-flex align-items-center">
                  <span
                    [inlineSVG]="
                      '../../../../assets/dashboard/media/icons/duotune/general/gen003.svg'
                    "
                    class="svg-icon svg-icon-3 svg-icon-primary me-2"
                  ></span>
                  <div class="fs-2 fw-bolder">{{user.score_trainer}}</div>
                </div>

                <div class="fw-bold fs-6 text-gray-400"> {{user.trainer_reviews.length}} Reviews</div>
              </div>

              <div
                class="
                  border border-gray-300 border-dashed
                  rounded
                  min-w-125px
                  py-3
                  px-4
                  me-6
                  mb-3
                "
              >
                <div class="d-flex align-items-center">
                  <span
                    [inlineSVG]="
                      '../../../../assets/dashboard/media/icons/duotune/abstract/abs029.svg'
                    "
                    class="svg-icon svg-icon-3 svg-icon-danger me-2"
                  ></span>
                  <div class="fs-2 fw-bolder">{{user.trainer_specialities.length}}</div>
                </div>

                <div class="fw-bold fs-6 text-gray-400">Specialities</div>
              </div>

              <div
                class="
                  border border-gray-300 border-dashed
                  rounded
                  min-w-125px
                  py-3
                  px-4
                  me-6
                  mb-3
                "
              >
                <div class="d-flex align-items-center">
                  <span
                    [inlineSVG]="
                      '../../../../assets/dashboard/media/icons/duotune/general/gen014.svg'
                    "
                    class="svg-icon svg-icon-3 svg-icon-success me-2"
                  ></span>
                  <div class="fs-2 fw-bolder">{{user.trainer_appointments.length}}</div>
                </div>

                <div class="fw-bold fs-6 text-gray-400">Appointments</div>
              </div>
            </div>
          </div>

         
        </div>
      </div>
    </div>

    <div class="d-flex overflow-auto h-55px">
      <ul
        class="
          nav nav-stretch nav-line-tabs nav-line-tabs-2x
          border-transparent
          fs-5
          fw-bolder
          flex-nowrap
        "
      >
        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6"
            routerLink="/admin/crafted/pages/profile//{{user.trainer_id}}/overview/{{user.trainer_id}}"
            routerLinkActive="active"
          >
            Overview
          </a>
        </li>
   
        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6"
            routerLink="/admin/crafted/pages/profile//{{user.trainer_id}}/images/{{user.trainer_id}}"
            routerLinkActive="active"
          >
            Images
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6"
            routerLink="/admin/crafted/pages/profile/{{user.trainer_id}}/appointments/{{user.trainer_id}}"
            routerLinkActive="active"
          >
            Appointments
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6"
            routerLink="/admin/crafted/pages/profile/{{user.trainer_id}}/reviews/{{user.trainer_id}}"
            routerLinkActive="active"
          >
            Reviews
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-active-primary me-6"
            
            routerLink="/admin/crafted/pages/profile/{{user.trainer_id}}/specialities/{{user.trainer_id}}"
            routerLinkActive="active"
          >
            Specialities
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<router-outlet ></router-outlet>
