<app-header></app-header>
<main>
    <!-- Hero Area End-->
    <!--? Blog Area Start-->
     <!-- ======= About Section ======= -->
<section id="about" class="aboutsection pt-150">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>Who We Are</h3>
            <h2>The No.1 Online fitness marketplace, bringing you more customers & the visibility you’ve been looking for online</h2>
            <p>
                Are you a personal trainer or coach looking to generate more revenue for your business?

                Gain more customers, grow your revenue & provide the ultimate service to your clients with FitNuvo.                    
            </p>
            <div class="text-center text-lg-start">
                <a href="#" class="boxed-btn">Get New Clients</a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="/assets/site/img/trainers.png" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- End About Section -->
  <section class="ask-questions section-bg2 section-padding30" data-background="/assets/site/img/gallery/background-about.png" style="background-image: url(&quot;/assets/site/img/gallery/background-about.png&quot;);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-11 col-lg-11 col-md-10 ">
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle2 text-center mb-90">
                    <h2 style="color:white;">The number 1. Online Marketplace & Hub for Personal trainers & everything fitness.
                    </h2>
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Gain visibility through appearing right in front of clients looking for personal training
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Capitalise on profile views through a customisable profile where you can showcase your expertise and stand out from the rest</h2>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Seamless navigation for your clients, sync your calendar and get your free slots booked in just a few clicks!
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>More customers, more revenue and less headaches with an all in one hub taking your clients from enquiry to under the squat rack faster than it takes to warm up</h2>
                        
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-11 col-lg-11 col-md-10 ">
                <!-- Section Tittle -->
                <div class="text-center">
                    <p style="color: rgba(255,255,255,0.6);">(There are currently 43 people looking for pt’s in your area. What are you waiting for?!<span style="color:white"> Sign up today!</span>)
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="services pt-30 pb-30 section-bg1">

    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="row justify-content-center gy-4">

        <div class="col-lg-10 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            
          
          <div class="service-box blue">
            <div class="row align-items-center justify-content-between">
              <div  class="col-lg-5">
                <h3>
                  Your client needs you
                </h3>
                <p>
                 With the fitness world ever-growing and expanding, more people are taking the leap into starting their fitness journey, be the guide that takes them out the tracks to the finish line.
                </p>
              </div>
              <div class="col-lg-5">
                    <!-- about-img -->
                    <div class="about-img ">
                        <img src="/assets/site/img/coach2.png" alt="" style="float: right;">
                    </div>
                
              </div>
               
            </div> 
          </div>
        </div>
      </div>

    </div>

</section> 
<section class="ask-questions section-bg2 section-padding30" data-background="/assets/site/img/gallery/background-about.png" style="background-image: url(&quot;/assets/site/img/gallery/background-about.png&quot;);">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-xl-11 col-lg-11 col-md-10 ">
              <!-- Section Tittle -->
              <div class="section-tittle section-tittle2 text-center mb-90">
                  <h2 style="color:white;">Take control of your personal training business today.
                  </h2>
                  <p style="color: rgba(255,255,255,0.6);">With an influx of customers coming onto the platform and the tools needed to help navigate your personal training business to the next stage, grow with:</p>
              </div>
          </div>
      </div>
      <div class="row row justify-content-center">
          <div class="col-lg-6 col-md-6">
              <div class="single-question d-flex mb-50">
                  <span> 1.</span>
                  <div class="pera">
                      <h2>
                        More visibility in front of your target audience looking for face to face and online personal training
                      </h2>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <div class="single-question d-flex mb-50">
                  <span> 2.</span>
                  <div class="pera">
                      <h2>Real time messaging and push notification from your clients allowing swift communication and a better service to your customers</h2>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <div class="single-question d-flex mb-50">
                  <span> 3.</span>
                  <div class="pera">
                      <h2>Analytics at your fingertips, easy to navigate hub providing information on your profile visits, searches you’ve appeared in, bookings and revenue generated s
                      </h2>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <div class="single-question d-flex mb-50">
                  <span> 4.</span>
                  <div class="pera">
                      <h2>Calender syncing, allowing customers to see your free slots at ease, providing less friction for bookings</h2>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="single-question d-flex mb-50">
                <span> 5.</span>
                <div class="pera">
                    <h2>Seamless payment platform making payment easy for your customers and instantaneous for you in just a few clicks
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="single-question d-flex mb-50">
                <span> 6.</span>
                <div class="pera">
                    <h2>We take care of the marketing, bookings, processing and numbers so that you can focus on providing your clients the best service possible!</h2>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="single-question d-flex mb-50">
              <span> 7.</span>
              <div class="pera">
                  <h2>A growing community of like minded personal trainers and sports coaches, with frequent webinars from industry leading pt’s on how to grow your business.</h2>  
              </div>
          </div>
      </div>
         
      </div>
  </div>
</section> 

<section id="services" class="services pt-30 pb-30 section-bg1">

  <div class="container aos-init aos-animate" data-aos="fade-up">

    <div class="row justify-content-center gy-4">

      <div class="col-lg-10 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300" style="background-image: url('/assets/site/img/coach.png');
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 13px;
      background-size: cover;">
          
        
        <div class="service-box pink">
          <div class="row align-items-center justify-content-between">
            <div  class="col-lg-5">
              <h3 style="color:white">
                From enquiry to counting reps in a few clicks
              </h3>
              <p style="color:white">
                The all in one marketplace for personal trainers, fitness & sports coaches and instructors 
                Bridging the gap between clients looking for a trainer and your expertise, we provide the ultimate hub for you and your personal training business to be found, booked and paid by your customers all in one seamless app.
                
              </p>
            </div>
            <div class="col-lg-5">
                  <!-- about-img -->
                  <div class="about-img ">
                      <img src="" alt="" style="float: right;">
                  </div>
              
            </div>
             
          </div> 
        </div>
      </div>
    </div>

  </div>

</section>  
 
  
  <!--? About-1 Area Start -->
 <div class="about-area1 section-padding40">
  <div class="container">
      <div class="row align-items-center justify-content-between">
          <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
              <!-- about-img -->
              <div class="about-img ">
                  <img src="/assets/site/img/partnerone.png" alt="">
              </div>
          </div>
          <div class="col-xl-7 col-lg-7 col-md-12">
              <div class="about-caption ">
                  <!-- Section Tittle -->
                  <div class="section-tittle section-tittle2 mb-30">
                      <h2>We will help you<br>
                          achieve your goal</h2>
                  </div>
                  <p class="mb-40 description">We understand how strenuous building your personal training business can be - from programming your clients workouts, being there to support and the odd pieces of content to reel people in on social media, to dealing with ways to take client payments & trying to stay afloat whilst finding new clients.
                  </p>
                  <p class="mb-40 description">Personal trainers and sports coaches should be counting reps and sets, not page visitors - but the internet is forcing aspiring trainers to adapt. Our job is to remove the worry off your hands and take care of the marketing, so that you can focus on providing the best service possible to your clients. 
                  </p>
                 <p class="mb-40 description">Find more leads, grow your client portfolio and build your brand through FitNuvo.
                  We’re here to celebrate and push fitness coaches and personal trainers forward by taking care of the marketing and generating customers for you. Imagine the freedom to focus on your profession, whilst levelling up your craft and achieving financial freedom with less headaches & more peace of mind. 
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- About-1 Area End -->
</main>
<app-footer></app-footer>
