<app-header></app-header>
<main class="mt-110">
  
  
     <!-- ======= About Section ======= -->

    <div class="container" data-aos="fade-up">
       <h4>PRIVACY POLICY
      </h4>
      <p>
      Fitnuvo collects your information in many different ways when utilising our website. If you enquire about a course, venue, access our online virtual learning environment platform or write a blog comment. This is for the purpose of handling your enquiry to which it was made and to assist you with your studies. Fitnuvo is a is a leading training provider to the fitness and leisure sector. Our registered address is 84 Granley Road, Cheltenham, Gloucestershire, GL1 6LH.

At Fitnuvo your privacy is one of the most important elements to our business and we are committed to taking all measures to ensuring that your data is safe, fit for purpose and harnessed through the correct legal means.

This policy outlines the how we collect personal data and what the data is used for. It will also cover how we keep your data safe and secure as well as times where your data might be disclosed to third parties. This policy has been updated to correspond with GDPR 2018 on May 21st 2018. This policy is subject to review in line with our policy review policy.

1. By using Fitnuvo’s website you are bound by the terms of this privacy policy and please be aware that for the purpose of providing the best service we can as well as changes in legal legalisation, this policy may change or update from time to time.

2. It is your responsibility as the user to ensure before submitting any data to our website that you have read and are comfortable with how we handle your data via this website.

3. If you have any questions or issues with our policy, please do email info@fitnuvo.org.
<br>
<br>

Fitnuvo collects your information in many different ways when utilising our website. If you enquire about a course, venue, access our virtual learning platform or write a blog comment. This is for the purpose of handling your enquiry to which it was made and to assist you with your studies.

The range of information collected on you is dependent on what aspect of the website that you have submitted your details to and how much information you have volunteered. This includes but is not limited to; Name, email address, phone numbers, home address, IP address, disabilities, identification, date of birth, next of kin details, card information and past certification. The extent of the details collected depends on if you have enrolled on to a course, made an enquiry or requested support from our tutoring or accounts team.

All card information ascertained is destroyed immediately after use in coherence with our data destruction policy and is not stored in any format. Re-occurring payments made via Klarna is not visible to any staff members or Directors. This data is not held by Fitnuvo, but the third parties listed. Fitnuvo only uses trusted brands with a reputation of data security and is solely collected for the purpose of collecting or taking payments.
<br>

We also might track how long you have used our website, which pages you have clicked on, which pages you have visited and how long for. This process is to help aid with both our marketing and service to our students. This information may be re-collected later into your course if absolutely required to do so for replacing certificates, re-setting back up of payment plans, clearing course balances, missing payments, purchasing of extra course materials or further course purchases.

Your Information may be used in one or more of the following ways:

1. Marketing and re-marketing with relevant course promotions and offers that we deem you will be interested in.
2. To create a better user experience on this website
3. To keep you updated of policies, important changes to your course and general communication to provide you with the best service.
4. To meet your expectations of our service through contractual obligations.
5. To give you access to our virtual learning platform with the correct level of access.
6. Collecting of payments
<br> <br>
Fitnuvo retains information for durations we deem appropriate to fulfil our contractual and service obligations. This time period varies depending if you have purchased a course, submitted an enquiry or simply visited our website. Your information is held securely on the most relevant system to which is appropriate for the level of interest you have in our products or services.

Fitnuvo does work with third parties for marketing, however we never share your data with third parties unless we have your full, transparent consent to do so.

Fitnuvo utilises third-party services to help us fulfil our contractual obligations and business needs. This includes but is not limited to, accountants, third-party processors, customer relationship manager and awarding bodies. All third-party companies are given only the information sufficient to perform their duties for the purpose they were hired and Fitnuvo has validated their compliance with GDPR to ensure your data is safe and not misused in any way.

Staff employed by Fitnuvo have all be trained on how to handle your data and restrictive access to your data is issued to ensure it is only available to fulfil the duties of contractual obligations. Your data is protected by both being encrypted and password protected.

Keeping your data safe is integral to Fitnuvo. All reasonable measures of maintaining your data’s security has been taken, including but not limited to, encryption, safe data destruction in coherence to our data destruction policy, password protection, safe file backup service and sourcing reliable third parties. These measures help Fitnuvo to prevent misuse. Third parties data storage policies are validated prior to us consenting to use your data for our contractual obligations to ensure it meets both our standards and that imposed by GDPR.

If you have enrolled on to a course with Fitnuvo you will be issued with a username and password for the student zone platform and our partners page. It is your sole responsibility to keep this information confidential and to not share it with third parties.

Fitnuvo does work with third parties that operate out of the European Union, specifically, the United States, where data protection laws may not be the same as countries within the EU. Fitnuvo has taken every precaution to ensure the safety of your data to third parties outside of the EU.

Fitnuvo has third party links on our blog, within our partners page and student zone platform. This is for the purposes of both our contractual obligations, as part of our service and to improve our user experience. Please note if you click on a link and leave this website you are now bound by their privacy policy and not the terms stated within this policy.

At any time, you may request the information we hold on you. There is no charge for this, unless subsequent charges are induced depending on the level of your request. Acknowledgement of your request will occur within 5 working days and be delivered within 30 working days depending on the depth and complexity of your data request. If it is a data request with comple4xity this may take up to three months for us to deliver it in a clearly formatted manner. Please view our information request policy for further details.

Please ensure your details are kept true and accurate to enable us to provide you with the best possible service. If certain details change, including, but not limited to phone, email, name or address change, please info@fitnuvo.org so we can safely destroy your previously data and replace it with more accurate and up to date information.

Fitnuvo uses cookies on this website. Cookies are that store in your browser from our website. The purpose of these cookies is for us to better understand user experience, marketing reasons and to gauge the effectiveness of our website. Please note that no personal information is collected by our cookies and is simply to increase our understanding of user behaviours to help us improve our website for our customers.

You may delete the cookies from our website at any point through your computers user settings. Please be aware that this may incur a reduction in the functionality of our website to your experience. Please visit Fitnuvo’s cookie policy for. A more in-depth overview.

Any questions in relation to this policy or how we harness and use your data, please contact our head office
</p> 
    </div> 

</main>
<app-footer></app-footer>
  <!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

