<app-header></app-header>
<main>
        <!-- Slider Area Start-->
        <div class="slider-area slider-bg">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider d-flex align-items-center slider-height">
                    <div class="container">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-xl-5 col-lg-5 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".3s ">Find The Best<br>Trainers</h1>
                                    <span data-animation="fadeInLeft" data-delay=".6s">You’ve come to the right place!</span>
                                    <!-- Slider btn -->
                                    <div class="slider-btns">
                                        <!-- Hero-btn -->
                                        <form action="#" class="search-box" data-animation="fadeInLeft" data-delay="1s">
                                            <div class="input-form">
                                                <input type="text" placeholder="Search for trainers, activity...">
                                                <!-- icon search -->
                                                <div class="world-form">
                                                    <i class="ti-search"></i>
                                                </div>
                                            </div>
                                        </form>	
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="hero__img d-none d-lg-block f-right">
                                    <img src="/assets/site/img/hero/group_13154.png" alt="" data-animation="fadeInRight" data-delay="1s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
        <!-- Slider Area End -->
        

    <!-- Domain-search End -->
     <!--? About-1 Area Start -->
     <div class="about-area1 section-padding40">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                    <!-- about-img -->
                    <div class="about-img ">
                        <img src="/assets/site/img/gallery/MaskGroup.png" alt="">
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <div class="about-caption ">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-30">
                            <h2>We will help you<br>
                                achieve your goal</h2>
                        </div>
                        <p class="mb-40 description">Nam imperdiet est sit amet volutpat molestie. Utlon si<br>
                            dignissim dui sit amet ex laoreet, vitae aliquet metus. </p>
                        <ul>
                            <li>
                                <img src="/assets/site/img/icon/check.svg" alt="">
                                <p class="caption-best">Use the detailed search</p>
                            </li>
                            <li>
                                <img src="/assets/site/img/icon/check.svg" alt="">
                                <p class="caption-best">Direct communication with the coach</p>
                            </li>
                            <li>
                                <img src="/assets/site/img/icon/check.svg" alt="">
                                <p class="caption-best">Schedule System</p>
                            </li>
                            <li>
                                <img src="/assets/site/img/icon/check.svg" alt="">
                                <p class="caption-best">Online / offline classes</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About-1 Area End -->

     <!-- easy to Start -->
     <section class="pricing-card-area fix section-bg1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="section-tittle text-center mt-10 mb-30">
                        <h2>So easy to start</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card mb-30">
                        <div class="card-top">
                            <img src="/assets/site/img/icon/stepone.png" alt="">
                            <h4>Find a trainer<br> 
                                in your area</h4>
                            
                        </div>
                        <div class="card-bottom text-center">
                            <p>Consult PT profiles freely and contact the coach that fits your needs (prices,qualifications, reviews).</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card mb-30">
                        <div class="card-top">
                            <img src="/assets/site/img/icon/steptow.png" alt="">
                            <h4>Arrange your 
                                workout sessions</h4>
                          
                        </div>
                        <div class="card-bottom text-center">
                            <p>Take the coach's phone number and discuss all the details.
                                Schedule lessons and pay in cash.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card mb-30">
                        <div class="card-top">
                            <img src="/assets/site/img/icon/last.png" alt="" style="margin-bottom: -14px;">
                            <h4>Share with us 
                                your experience</h4>
                           
                        </div>
                        
                        <div class="card-bottom text-center">
                           <p>After workout
                            you can share your opinion about the
                            coach, training, leave a
                            review in this profile.</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- easy to End -->
    <!--? Team -->
    <section class="team-area mt-10 white-bg" style="padding-top: 20px;padding-bottom: 40px;">
        <div class="container">
            <div class="row justify-content-center mb-20">
                <div class="col-xl-12">
                    <div class="section-tittle">
                        <h2 class="trainer">Fitnuvo<br> 
                            Personal Trainers</h2>
                    </div>
                </div>
            </div>
            <div class="row event">
                <i class="fa fa-crown"></i><h3 class="event-title">TOP 10 TRAINERS</h3>
            </div>
            <div class="carousel-container">
                <owl-carousel-o [options]="customOptions">
                    <ng-container *ngFor="let slide of bests">
                      <ng-template carouselSlide [id]="slide.id">
                        <div class="slide">
                            <div class="singel-event-list mt-30">
                                <div class="event-thum">
                                    <img [src]="slide.photo_profil" alt="trainer">
                                </div>
                                <div class="event-cont">
                                     <span>{{slide.first_name}} {{slide.last_name}}</span><span class="number">({{slide.age}})</span><span class="price">${{slide.price_trainer}}/H</span>
                                     <div><span class="review"><i class="fa fa-star"></i>{{slide.score_trainer}}.0</span><span class="comment">({{slide.trainer_reviews.length}} reviews)</span></div>
                                     <div class="info">
                                        <div><span class="key">Speciality:</span><span class="value"> <ng-container *ngFor="let spec of slide.trainer_specialities" > {{spec.speciality_name}}  </ng-container> </span></div>
                                        <div><span class="key">Experience:</span><span class="value">{{slide.experience_trainer}} years</span></div>
                                        <div><span class="key">Location:</span><span class="value">{{slide.home_adress}}</span></div>
                                    </div>
                                    <div class="row action text-center">
                                        <a class="col-lg-3">Book now</a>
                                        <a class="col-lg-3">Contact</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </ng-template>
                    </ng-container>
                </owl-carousel-o>
               
            </div>
           
            <div class="row event mt-10">
                <i class="fa fa-bookmark"></i><h3 class="event-title">New Trainer</h3>
            </div>
            <div class="carousel-container">
                <owl-carousel-o [options]="customOptions">
                    <ng-container *ngFor="let slide of news">
                      <ng-template carouselSlide [id]="slide.id">
                        <div class="slide">
                            <div class="singel-event-list mt-30">
                                <div class="event-thum">
                                    <img [src]="slide.photo_profil" alt="trainer">
                                </div>
                                <div class="event-cont">
                                     <span>{{slide.first_name}} {{slide.last_name}}</span><span class="number">({{slide.age}})</span><span class="price">${{slide.price_trainer}}/H</span>
                                     <div><span class="review"><i class="fa fa-star"></i>5.0</span><span class="comment">({{slide.trainer_reviews.length}} reviews)</span></div>
                                     <div class="info">
                                        <div><span class="key">Speciality:</span><span class="value"><ng-container *ngFor="let spec of slide.trainer_specialities" > {{spec.speciality_name}}  </ng-container></span></div>
                                        <div><span class="key">Experience:</span><span class="value">{{slide.experience_trainer}} years</span></div>
                                        <div><span class="key">Location:</span><span class="value">{{slide.home_adress}}</span></div>
                                    </div>
                                    <div class="row action text-center">
                                      <a href="" class="col-lg-3">Book now</a>
                                      <a class="col-lg-3">Contact</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </ng-template>
                    </ng-container>
                </owl-carousel-o>
               
            </div>
           
        </div>
    </section>
    <!-- Services End -->
   <!-- review start -->
   <section class="ask-questions section-bg1 fix">
    <div class="container mb-30">
        <div class="row justify-content-center">
            <div class="section-tittle text-center mt-30">
                <h2>Reviews about us</h2>
            </div>
        </div>
        <div class="clienttest" id="client">
            <owl-carousel-o [options]="clientOptions">
                <ng-container *ngFor="let slide of reviews">
                  <ng-template carouselSlide [id]="slide.id">
                    <div class="single-testimonial text-center" style="padding: 10px;">
                        <div class="testimonial-founder d-flex align-items-center">
                            <div class="founder-img mb-20">
                               <img [src]="slide.image" alt="">
                            </div>
                            <div class="founder-text">
                               <span>{{slide.name}} </span>
                               <p>{{slide.location}}</p>
                            </div>
                        </div>
                        <div class="testimonial-caption">
                           <p>{{slide.comment}}</p>
                        </div>
                    </div>
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
        </div>
    </div>
   </section>
   <!-- End review -->
   <!--? About-2 Area -->
    <div class="about-area1 pb-bottom mt-30">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                    <!-- about-img -->
                    <div class="about-img ">
                        <img src="/assets/site/img/gallery/MaskGroup2.png" alt="">
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <div class="about-caption about-caption3 mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-30">
                            <h2>Are you a coach 
                                <br>and want to get 
                                <br>more clients?
                                </h2>
                        </div>
                        <p class="mb-40">Try imperdiet est sit amet volutpat molestie. Ut dignissim dui sit amet ex laoreet, vitae aliquet metus ornare. Suspendisse quam erat, laoreet ayre.</p>
                        <a href="#" class="boxed-btn">Get New Clients</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog Start -->
    <section class="pricing-card-area fix section-bg1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="section-tittle text-center mt-10 mb-30">
                        <h2>Our articles</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card mb-30">
                        <div class="card-top">
                            <img src="/assets/site/img/gallery/blog1.png" alt="">
                            <h4><a class="blog" href="blog_details.html">BEST Way to stretch before workout</a></h4>
                        </div>
                        <div class="card-bottom text-center">
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                        </div>
                        <div class="card-mid text-center">
                            <h4 style="float: left; padding: 10px 26px;">2 min read</h4>
                            <h4 style="float: right;padding: 10px 26px;"> 
                                <a href="blog_details.html"> > </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card mb-30">
                        <div class="card-top">
                            <img src="/assets/site/img/gallery/blog3.png" alt="">
                            <h4><a class="blog" href="blog_details.html">Top 5 exercises 
                                for beginners</a></h4>
                          
                        </div>
                        <div class="card-bottom text-center">
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                        </div>
                        <div class="card-mid text-center">
                            <h4 style="float: left; padding: 10px 26px;">2 min read</h4>
                            <h4 style="float: right;padding: 10px 26px;">
                                <a href="blog_details.html"> > </a>
                            </h4>
                      </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card mb-30">
                        <div class="card-top">
                            <img src="/assets/site/img/gallery/blog2.png" alt="">
                            <h4><a class="blog" href="blog_details.html">The benefits of running. 
                                Professional advice</a></h4>
                        </div>
                        <div class="card-bottom text-center">
                           <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                        </div>
                        <div class="card-mid text-center">
                              <h4 style="float: left; padding: 10px 26px;">2 min read</h4>
                              <h4 style="float: right;padding: 10px 26px;">
                                <a href="blog_details.html"> > </a>
                              </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog End -->
     <!--? faq Area Start -->
     <div class="about-area1 section-padding40">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                    <!-- caption -->
                    <div class="about-caption ">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-30">
                            <h2>FAQs</h2>
                        </div>
                        <p class="mb-40 description">Try imperdiet est sit amet volutpat molestie. Ut dignissim dui sit amet ex laoreet, vitae aliquet metus ornare. Suspendisse quam erat, laoreet ayre.</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <div class="about-caption ">
                        <!-- Section Tittle -->
                        <div id="accordion">
                            <div class="card faqcard">
                              <div class="card-header cardheader-faq" id="headingOne">
                                <h5 class="mb-0">
                                  <button class="btnfaq" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <b class="f-left">How to plan your workouts?</b> 
                                    <i class="fa fa-chevron-down f-right" aria-hidden="true"></i>
                                  </button>
                                </h5>
                              </div>
                          
                              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    Nam imperdiet est sit amet volutpat molestie. Utlon si dignissim dui sit amet ex laoreet, vitae aliquet metus. Barolt ta calri boreso.
                                </div>
                              </div>
                            </div>
                            <div class="card faqcard">
                              <div class="card-header cardheader-faq" id="headingTwo">
                                <h5 class="mb-0">
                                  <button class="btnfaq collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                   <b class="f-left">Excepteur sint occaecat cupidatat?</b> 
                                    <i class="fa fa-chevron-down f-right" aria-hidden="true"></i>
                                  </button>
                                 
                                </h5>
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                              </div>
                            </div>
                            <div class="card faqcard">
                              <div class="card-header cardheader-faq" id="headingThree">
                                <h5 class="mb-0">
                                  <button class="btnfaq collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <b class="f-left">Duis aute irure dolor? </b> 
                                    <i class="fa fa-chevron-down f-right" aria-hidden="true"></i>
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faq Area End -->

   <!-- newslettre-->
    <div class="domain-search-area theme-bg" style="padding: 20px;background-image: url(/assets/site/img/hero/bg-img.png);">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5">
                    <h2>Newsletter</h2>
                    <p>Subscribe our newsletter to get updates about our services</p>
                </div>
                <div class="col-xl-8 col-lg-7">
                 <!--Hero form -->
                 <form action="#" class="search-box">
                     <div class="input-form">
                         <input type="text" placeholder="Your email adresse">
                         <!-- icon search -->
                         <div class="search-form">
                             <button><i class="fas fa-paper-plane"></i></button>
                         </div>
                         <!-- icon search -->
                         <div class="world-form">
                             <i class="fas fa-envelope"></i>
                         </div>
                     </div>
                 </form>	
                 
                </div>
           </div>
        </div>
    </div>
    
    
</main>
<app-footer></app-footer>
  <!-- Scroll Up -->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
 </div>