<app-header></app-header>
<main>
  
  
     <!-- ======= About Section ======= -->
   <section id="about" class="aboutsection pt-150">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>Who We Are</h3>
            <h2>The No.1 Online fitness marketplace, bringing you more customers & the visibility you’ve been looking for online</h2>
            <p>
                Are you a personal trainer or coach looking to generate more revenue for your business?

                Gain more customers, grow your revenue & provide the ultimate service to your clients with FitNuvo.                    
            </p>
            <div class="text-center text-lg-start">
                <a href="#" class="boxed-btn">Get New Clients</a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="/assets/site/img/trainers.png" class="img-fluid" alt="">
        </div>

      </div>
    </div>

   </section><!-- End About Section -->
    
    <section id="services" class="services pt-30 pb-30 section-bg1" style="background-color: #2E5DB6;">

        <div class="container aos-init aos-animate" data-aos="fade-up">
  
          <div class="row justify-content-center gy-4">
  
            <div class="col-lg-10 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300" style="background-image: url('/assets/site/img/about.png');
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 13px;
            background-size: cover;">
                
              
              <div class="service-box pink">
                <div class="row align-items-center justify-content-between">
                  <div class="col-lg-5">
                    <h3 style="color:white">
                      From enquiry to counting reps in a few clicks
                    </h3>
                    <p style="color:white">
                      The all in one marketplace for personal trainers, fitness &amp; sports coaches and instructors 
                      Bridging the gap between clients looking for a trainer and your expertise, we provide the ultimate hub for you and your personal training business to be found, booked and paid by your customers all in one seamless app.
                      
                    </p>
                  </div>
                  <div class="col-lg-5">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="" alt="" style="float: right;">
                        </div>
                    
                  </div>
                   
                </div> 
              </div>
            </div>
          </div>
  
        </div>
  
    </section>
    <!-- service Area End -->
    <section id="team" class="teams">

        <div class="container aos-init aos-animate" data-aos="fade-up">
  
          <header class="section-header">
            <h2 class="section-tittle section-tittle2 mb-30"style="color:#2955AB;">Our hard working team</h2>
          </header>
  
          <div class="row gy-4">
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <div class="member-img">
                  <img src="/assets/site/img/team/team-1.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                  <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
              <div class="member">
                <div class="member-img">
                  <img src="/assets/site/img/team/team-2.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                  <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
              <div class="member">
                <div class="member-img">
                  <img src="/assets/site/img/team/team-3.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
              <div class="member">
                <div class="member-img">
                  <img src="/assets/site/img/team/team-4.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
  
    </section>
</main>
<app-footer></app-footer>
  <!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

