<!-- begin::Header -->
<div class="card-header align-items-center border-0 mt-4">
  <h3 class="card-title align-items-start flex-column">
    <span class="fw-bolder text-dark">Top 5 Trainers</span>
  </h3>

</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body pt-3" *ngFor="let trainer of trainers" >
  <!-- begin::Item -->
  <div class="d-flex align-items-sm-center mb-7">
    <!-- begin::Symbol -->
    <div class="symbol symbol-60px symbol-2by3 me-4">
    
      <img class="symbol-label" src="{{url}}/storage/images/trainer/{{trainer.photo_profil}}" alt="trainer image">
    </div>
    <!-- end::Symbol -->
    <!-- begin::Content -->
    <div
      class="d-flex flex-row-fluid align-items-center flex-wrap my-lg-0 me-2"
    >
      <!-- begin::Title -->
      <div class="flex-grow-1 my-lg-0 my-2 me-2">
        <a href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6">
          {{trainer.first_name}} {{trainer.last_name}}
        </a>
        <span class="text-muted fw-bold d-block pt-1">{{trainer.email}}</span>
      </div>
      <!-- end::Title -->
      <!-- begin::Section -->
      <div class="d-flex align-items-center">
        <div class="me-6">
          <i class="fa fa-star-half-alt me-1 text-warning fs-5"></i>
          <span class="text-gray-800 fw-bolder">{{trainer.score_trainer}}</span>
        </div>
        <a href="/admin/crafted/pages/profile/{{trainer.trainer_id}}"  class="btn btn-icon btn-light btn-sm border-0">
          <span 
            [inlineSVG]="'../../../../../../../../../assets/dashboard/media/icons/duotune/arrows/arr064.svg'"
            class="svg-icon svg-icon-2 svg-icon-primary"
          ></span>
        </a>
      </div>
      <!-- end::Section -->
    </div>
    <!-- end::Content -->
  </div>
  <!-- end::Item -->

</div>
<!-- end::Body -->
