<div class="row g-5 g-xxl-8">
  <div  *ngIf="appointments.length==0" class="fs-3 mt-60  text-center text-dark">This Trainer have not appointments yet  </div>

  <div *ngFor="let app of appointments" class="col-xl-6">
                <a
                class="card border border-2 border-gray-300 border-hover"
              >
  
              
                <div class="card-body p-9">
                  <div class="fs-3 fw-bolder text-dark">Appointment n°{{app.appointment_id}} </div>
              
                  <p class="text-gray-400 fw-bold fs-5 mt-1 ">Client Fullname : {{app.appointment_client.first_name}} {{app.appointment_client.last_name}} </p>
                  <p class="text-gray-400 fw-bold fs-5 mt-1 ">Amount : {{app.appointment_amount}}£</p>


                  <div class="d-flex flex-wrap mb-5">
                    <div
                      class="
                        border border-gray-300 border-dashed
                        rounded
                        min-w-125px
                        py-3
                        px-4
                        me-7
                        mb-3
                      "
                    >
                      <div class="fs-6 text-gray-800 fw-bolder">{{app.appointment_date}} From {{app.appointment_start}} to {{app.appointment_end}} </div>
                      <div class="fw-bold text-gray-400">Date</div>
                    </div>
              
                    <div
                      class="
                        border border-gray-300 border-dashed
                        rounded
                        min-w-125px
                        py-3
                        px-4
                        mb-3
                      "
                    >
                      <div class="fs-6 text-gray-800 fw-bolder">{{app.appointment_payement_status}}</div>
                      <div class="fw-bold text-gray-400">Appointment Status</div>
                    </div>
                  </div>
              
              
              
                </div>
              </a>
              
  </div>




</div>



