
        <div class="row spacing">
            <div class="col-lg-3 col-md-4">
                <app-sideprofile> </app-sideprofile>
            </div>
            <div class="col-md-8 col-lg-9 card-box">
                <div class="navigation d-flex justify-content-between">
                    <div class="bloc-nav">
                        <ul class="nav coach-nav" id="myTab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="ginfo-tab" data-bs-toggle="tab" data-bs-target="#ginfo" role="tab" aria-controls="userinfo" aria-selected="true" >APPOINTMENT</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="gimage-tab" data-bs-toggle="tab" data-bs-target="#gimage" role="tab" aria-controls="userimage" aria-selected="false" >UPCOMING</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="gpwd-tab" data-bs-toggle="tab" data-bs-target="#gpwd" role="tab" aria-controls="userpassword" aria-selected="false">COMPLETED</a>
                            </li> 
                          </ul>
                    </div>
                </div>
                <div class="tab-content mt-15" id="myTabContent">
                    <!-- info form-->
                    <div class="tab-pane fade show active" id="ginfo" role="tabpanel" aria-labelledby="ginfo-tab">
                        <full-calendar [options]="calendarOptions"></full-calendar>

                    </div>
                    <!-- image form -->
                    <div class="tab-pane fade mt-2" id="gimage" role="tabpanel" aria-labelledby="gimage-tab">
                             
                            <div class="container-fluid">
                                <h4 >UPCOMING({{upcomingApp?.length}})</h4>


                                 <div class="row" *ngFor="let app of upcomingApp" >
                                    <div class="col-12 mt-3">
                                        <div class="card">
                                            <div class="card-horizontal">
                                                <div class="img-square-wrapper">
                                                    <img class="" width="300px" height="200px" src="{{app.appointment_trainer.photo_profil}}" alt="Card image cap">
                                                </div>
                                                <div class="card-body"  >
                                                    <div style="float:right;"> 
                                                        <button type="button" class="btn2 btn-outline-primary btn-sm" (click)="openEditForm(app.appointment_id,app.appointment_trainer.trainer_id)" >Edit</button> &nbsp;
                                                        <button type="button"  class="btn2 btn-outline-primary btn-sm" (click)="cancelapp(app.appointment_id)" >Cancel</button>
                                                    </div>

                                                    <div  style="float:left;">  
                                                    <p class="card-text"  >Trainer: <strong>{{app.appointment_trainer.first_name}} {{app.appointment_trainer.last_name}}</strong> </p>
                                                    <p class="card-text"  >Mobile: <strong>{{app.appointment_trainer.mobile_number}}</strong> </p>
                                                     <p class="card-text"  >Date and time:: <strong>{{app.appointment_date}} At {{app.appointment_start}}-{{app.appointment_end}}</strong> </p>
                                                    <p class="card-text"  >Activity:<strong>{{app.appointment_activity}}</strong> </p>
                                                    </div>
                                                 </div>
                                            </div>
                                            <div class="card-footer">
                                                <small class="text-muted">Previous workouts:</small> <strong>no workouts to show</strong>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                    </div>
                    <!-- password form -->
                    <div class="tab-pane fade" id="gpwd" role="tabpanel" aria-labelledby="gpwd-tab">
                        <div class="container-fluid">
                               
                            <h4>COMPLETED({{completedapp?.length}})</h4>

                            <div class="row" *ngFor="let app of completedapp" >
                               <div class="col-12 mt-3">
                                   <div class="card">
                                       <div class="card-horizontal">
                                           <div class="img-square-wrapper">
                                               <img class="" width="300px" height="220px" src="{{app.appointment_trainer.photo_profil}}" alt="Card image cap">
                                           </div>
                                           <div class="card-body"  >
                                               <div style="float:right;"> 
                                                  
                                                 <ng-container *ngFor="let rev of myreviews">
                                                     <ng-container *ngIf="rev.trainer.trainer_id===app.appointment_trainer.trainer_id">
                                                        <ngb-rating [max]="5"  [(rate)]="rev.stars"></ngb-rating>
                                                     </ng-container>
                                                     

                                                 

                                                      
                                  

                                                 </ng-container>

                                         
                                                    

                                                    <ng-container *ngIf="checkavailablity(app.appointment_trainer.trainer_id)==0">
                                                        <ngb-rating [max]="5"  [(rate)]="currentRate"></ngb-rating>
                                                    </ng-container>

                                                     
                                 




                                                
                                                

                                               </div>

                                               <div  style="float:left;">  
                                               <p class="card-text"  >Trainer: <strong>{{app.appointment_trainer.first_name}} {{app.appointment_trainer.last_name}}</strong> </p>
                                               <p class="card-text"  >Mobile: <strong>{{app.appointment_trainer.mobile_number}}</strong> </p>
                                                <p class="card-text"  >Date and time:: <strong>{{app.appointment_date}} At {{app.appointment_start}}-{{app.appointment_end}}</strong> </p>
                                               <p class="card-text"  >Activity:<strong>{{app.appointment_activity}}</strong> </p>
                                               </div>
                                            </div>
                                       </div>
                                       <div class="card-footer">
                                           <small class="text-muted">Previous workouts:</small> <strong>no workouts to show</strong>
                                       </div>
                                   </div>
                               </div>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div> 
  


