<main class="content">
    <section class=""> 
        <div class="container-fluid">
            <div class="row spacing">
                <div class="col-12">
                    <div class="navigation d-flex justify-content-between">
                        <div class="bloc-nav">
                            <ul class="nav coach-nav">
                                <li class="nav-item">
                                  <a class="nav-link active"  href="#">PROFILE</a>
                                </li>
                            </ul>
                        </div>
        
                    </div>
                </div>
            </div> 
        </div>
        
    </section>
    
    
    <section class="mt-3">
        <div class="container">
            <div class="back-block"     routerLink="/search"            >
                <i class="fa fa-arrow-left"></i> <span>Back</span>
            </div>
        </div>
    </section>
    
    <section class="mt-3">
        <div class="container">
             <div class="row">
                 <div class="col-sm-6 col-md-5">
                    <img class="coach-image-card"  width="500px"  src="{{url}}/storage/images/trainer/{{trainer.photo_profil}}" >

                 </div>
                 <div class="col-sm-6 col-md-7">
                     <div class="coach-info-bloc">
                         <div class="d-flex justify-content-between">
                             <div class="coach-name">
                                 {{trainer.first_name}} {{trainer.last_name}} (28) &nbsp;
                                   <i *ngIf="isAuth && Role=='client'" (click)="addtoList(trainer.trainer_id)"  style="     text-shadow: 0 0 6px red; "  class="fa fa-heart text-light "> </i> 
                                   <i *ngIf="isAuth && Role=='client'"  (click)="removefromList(trainer.trainer_id)"  style="     text-shadow: 0 0 6px red; "  class="fa fa-heart text-danger "> </i> 
                             </div>
                             <div class="coach-name">
                                 
                                <button class="btn btn-secondary msg-btn mt-2"><i class="fa  fa-envelope" aria-hidden="true"></i> Message</button>
                             </div>
                            
                         </div>
    
    
                         <div class="d-flex justify-content-between mt-3">
                            <div class="">
                                <span style="margin-right: 20px;"><i class="fa fa-star icon-primary" aria-hidden="true"></i> {{trainer.score_trainer}}.0</span>
                                
                                <span><i class="fa fa-commenting-o icon-primary" aria-hidden="true"></i> ({{trainer.trainer_reviews.length}} reviews)</span>
                                
    
                            </div>
                            <div class="coach-contact">
                                <span class="text-color-primary">Mobile: </span> {{trainer.mobile_number}}
                            </div>
                           
                        </div>
    
    
    
                        <div class="coach-tags d-flex mt-3">
                            <div class="tag-coach">
                                Online
                            </div>
                            <div class="tag-coach">
                                Online
                            </div>
                            <div class="tag-coach">
                                Online
                            </div>
                            <div class="tag-coach">
                                Online
                            </div>
                        </div>
    
    
    
                        <div class="mt-3">
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="width: 150px;"> <span class="text-color-primary">Price: </span></td>
                                        <td>
                                            <strong>{{trainer.price_trainer}}/h</strong>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td> <span class="text-color-primary">Location: </span></td>
                                        <td>
                                            <strong>{{trainer.home_adress}}</strong>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td> <span class="text-color-primary">Experience: </span></td>
                                        <td>
                                            <strong>{{trainer.experience_trainer}} years</strong>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
    
    
                     </div>
                </div>
             </div>
        </div>
    </section>


    
    <section class="descreption-section mt-5" *ngIf="isAuth && Role=='client'" >
        <div class="container">
            <div class="card card-body">
                

                <div class="accordion" id="accordionExample">


                    <div class="accordion-item  coach-descri-body">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSchedule" aria-expanded="true" aria-controls="collapseSchedule">
                          <span class="text-color-primary">Schedule</span>
                        </button>
                      </h2>
                      <div id="collapseSchedule" class="accordion-collapse collapse show" aria-labelledby="headingSchedule" data-bs-parent="#accordionExample">
                        <div class="accordion-body ">
                         
                            <full-calendar [options]="calendarOptions"></full-calendar>

                        </div>
                      </div>
                    </div>

                </div>

            </div>
        </div>
    </section>


    <section class="descreption-section mt-5">
        <div class="container">
            <div class="card card-body">
                <div class="accordion" id="accordionExample">


                    <div class="accordion-item  coach-descri-body">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <span class="text-color-primary">Description</span>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body ">
                         
                            <p class="desci-p">{{trainer.aboutme}}</p>

                        </div>
                      </div>
                    </div>


                    <div style="padding: 1rem 1.25rem;">
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <i class="fa fa-file text-color-primary custom-icon" aria-hidden="true"></i><strong> Certifications: </strong>
                                </div>

                                <ng-container *ngFor=" let certif of trainer.trainer_certifications">
                                    <p class="text-muted">
                                       {{certif.certification_name}}
                                    </p>

                                </ng-container>
                         
                            </div>
                            <div class="col-12">
                                <div>
                                    <i class="fa fa-trophy text-color-primary custom-icon" aria-hidden="true"></i><strong> Achievements: </strong>
                                </div>

                                <ng-container *ngFor=" let achv of trainer.trainer_achievements">
                                    <p class="text-muted">
                                       {{achv.achivement_description}}
                                    </p>

                                </ng-container>
                            </div>

                            
                        </div>
                    </div>
                    
                    
                   
                  </div>
            </div>
        </div>
    </section>



    <section class="descreption-section mt-5">
        <div class="container">
            <div class="card card-body">
                <div class="accordion" id="accordionExample">


                    <div class="accordion-item  coach-descri-body">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                          <span class="text-color-primary">Reviews</span>
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body ">
                         
                            <span style="margin-right: 20px;"><i class="fa fa-star icon-primary" aria-hidden="true"></i> {{trainer.score_trainer}}.0 (444 ratings)</span> 

                        </div>

                        <div style="padding: 1rem 1.25rem;">
                            <div class="row">
                                <div *ngFor="let rev of trainer.trainer_reviews ;  let i=index" class="col-12">
                                    <ng-container *ngIf="i<2"> 
                                    <div>
                                        
                                        <img  src ="{{url}}/storage/images/trainer/{{rev.client.photo_profil}}"  width="40px" class="rounded-circle float-right"  > &nbsp;  
                                        <strong > 
                                            {{rev.client.first_name}} {{rev.client.last_name}} 
                                         </strong>
                                              <i class="fa fa-star icon-primary" aria-hidden="true"></i> {{rev.stars}}.0   
                                              <p style="float:right" class="text-muted ">
                                               {{rev.date_review}}
                                               </p>
                                    </div>
    
                                        <p class=" ml-50 text-muted">
                                            {{rev.comment}}
                                        </p>
                                    </ng-container>
                             
                                </div>
                                
                           
    
                                
                            </div>
                        </div>
                      </div>
                    </div>


                  
                    
                    
                   
                  </div>
            </div>
        </div>
    </section>

    <br>
</main>