<main class="content">
    <section class=""> 
        <div class="container-fluid">
            <div class="row spacing">
                <div class="col-12">
                    <div class="navigation d-flex justify-content-between">
                        <div class="bloc-nav">
                            <ul class="nav coach-nav">
                                <li class="nav-item">
                                  <a class="nav-link active"  href="#">ALL TRAINERS</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#">MY TRAINERS</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#">FAVORITE</a>
                                </li> 
                              </ul>
                        </div>
        
        
                        <div class="search-bloc">
                            <form>
                                
                                    <div  class="input-group mb-3">
                                       
                                        <input  type="text" placeholder="search"   class="form-control top-input-bar-search">
                                             
                                        <span  id="basic-addon1" class="right-border-top-bar-search input-group-text bg-white border-right-0"><i  aria-hidden="true" class="fa fa-search"></i></span>
                                    
                                    </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        
    </section>
    
    
    <section class="mt-3">
        <div class="container">
            <div class="back-block">
                <i class="fa fa-arrow-left"></i> <span>Back</span>
            </div>
        </div>
    </section>
    
    <section class="mt-3">
        <div class="container">
             <div class="row">
                 <div class="col-sm-6 col-md-5">
                     <div class="coach-image-card">
    
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-7">
                     <div class="coach-info-bloc">
                         <div class="d-flex justify-content-between">
                             <div class="coach-name">
                                 Frridy (28)
                             </div>
                             <div class="coach-name">
                                <button class="btn btn-secondary msg-btn"><i class="fa fa-commenting-o" aria-hidden="true"></i> Message</button>
                             </div>
                            
                         </div>
    
    
                         <div class="d-flex justify-content-between mt-3">
                            <div class="">
                                <span style="margin-right: 20px;"><i class="fa fa-star icon-primary" aria-hidden="true"></i> 5.0</span>
                                
                                <span><i class="fa fa-commenting-o icon-primary" aria-hidden="true"></i> (18 reviews)</span>
                                
    
                            </div>
                            <div class="coach-contact">
                                <span class="text-color-primary">Mobile: </span> +333 555 66 
                            </div>
                           
                        </div>
    
    
    
                        <div class="coach-tags d-flex mt-3">
                            <div class="tag-coach">
                                Online
                            </div>
                            <div class="tag-coach">
                                Online
                            </div>
                            <div class="tag-coach">
                                Online
                            </div>
                            <div class="tag-coach">
                                Online
                            </div>
                        </div>
    
    
    
                        <div class="mt-3">
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="width: 150px;"> <span class="text-color-primary">Mobile: </span></td>
                                        <td>
                                            <strong>55/h</strong>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td> <span class="text-color-primary">Mobile: </span></td>
                                        <td>
                                            <strong>55/h</strong>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td> <span class="text-color-primary">Mobile: </span></td>
                                        <td>
                                            <strong>55/h</strong>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
    
    
                     </div>
                </div>
             </div>
        </div>
    </section>



    <section class="descreption-section mt-5">
        <div class="container">
            <div class="card card-body">
                <div class="accordion" id="accordionExample">


                    <div class="accordion-item  coach-descri-body">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <span class="text-color-primary">Description</span>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body ">
                         
                            <p class="desci-p">I have an intense belief that people ought to sleep well, eat well and move well. I have made it my mission in the 10 years I have been a trainer at Renouf to help my clients achieve these vital goals.</p>

                            <p class="desci-p">Due to my background in Psychology, I believe in being client focused and putting their needs first.</p>
                        </div>
                      </div>
                    </div>


                    <div style="padding: 1rem 1.25rem;">
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <i class="fa fa-file-text-o text-color-primary custom-icon" aria-hidden="true"></i><strong> Certification: </strong>
                                </div>

                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea natus quasi fugit pariatur voluptas a perspiciatis in quae, eveniet atque odio corporis! Quaerat nulla inventore architecto placeat temporibus eum veritatis.
                                </p>
                            </div>
                            <div class="col-12">
                                <div>
                                    <i class="fa fa-trophy text-color-primary custom-icon" aria-hidden="true"></i><strong> Achievements: </strong>
                                </div>

                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea natus quasi fugit pariatur voluptas a perspiciatis in quae, eveniet atque odio corporis! Quaerat nulla inventore architecto placeat temporibus eum veritatis.
                                </p>
                            </div>

                            
                        </div>
                    </div>
                    
                    
                   
                  </div>
            </div>
        </div>
    </section>
</main>