<header>
    <!-- Header Start -->
    <div class="header-area header-transparent" style="background:#2955AB;">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href=""><img src="/assets/site/img/logo/logo-w.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">                                                                                          
                                            <li><a routerLink="/search">Explore</a></li>
                                            <li><a class="nav-link" [routerLink]="['/about']">About us</a></li>
                                            <li><a routerLink="/blog">Articles</a></li>
                                            <li><a routerLink="/partner">For Partner</a></li>
                                            <li><a routerLink="/contact">Contact Us</a></li>
                                            <!-- Button -->
                                            <li *ngIf="!isAuth" class="button-header margin-left " ><a class="btn3" (click)="openLoginForm()" >Login</a></li>
                                            <li *ngIf="!isAuth" class="button-header margin-right"><a class="btnsign" (click)="openRegisterForm()" >Sign Up</a></li>
                                            <li *ngIf="isAuth && Role=='client'">
                                                
                                                <div ngbDropdown class="d-inline-block">
                                                  <a type="button" class="btn-outline btnsign" ngbDropdownToggle><img   style="width: 30px;height:30px" src="{{url}}/storage/images/trainer/{{user.photo_profil}}"  class="rounded-circle  float-right"> {{user.firstname}} {{user.secondname}}</a>
                                                  <div class="dropdown-menu" ngbDropdownMenu>
                                                    <div class="profile-sidebar">
                                                        <!-- SIDEBAR USERPIC -->
				                                        <div class="profile-userpic">
					                                        <img  style="height: 84px;width: 84px;" src="{{url}}/storage/images/trainer/{{user.photo_profil}}" class="img-responsive" alt="">
				                                        </div>
				                                        <!-- END SIDEBAR USERPIC -->
				                                        <!-- SIDEBAR USER TITLE -->
				                                        <div class="profile-usertitle">
					                                        <div class="profile-usertitle-name">
                                                                &nbsp; {{user.firstname}} {{user.secondname}}
                                                                <i class="ti ti-pencil" (click)="goToprofile()"></i>
					                                        </div>
					                                        <div class="profile-usertitle-job">
                                                                {{user.email}}
					                                        </div>
				                                        </div>
				                                        <!-- END SIDEBAR USER TITLE -->
                                                    </div>
                                                    <div class="dropdown-divider"></div>
                                                    <button ngbDropdownItem [routerLink]="'/user/appointments'"><i class="ti ti-calendar"></i> Appointments</button>
                                                    <button ngbDropdownItem [routerLink]="'/user/wishlist'"><i class="ti ti-heart"></i> Favorites</button>
                                                    <button ngbDropdownItem [routerLink]="'/user/chats'"><i class="ti ti-comments"></i> Messages</button>
                                                    <button ngbDropdownItem [routerLink]="'/user/notifications'"><i class="ti ti-bell"></i> Notification</button>
                                                    <button ngbDropdownItem (click)="logout()"><i class="ti ti-power-off" ></i> Logout</button>
                                                  </div>
                                                </div>
                                                
                                            </li>

                                            <li *ngIf="isAuth && Role=='trainer'">
                                                
                                                <div ngbDropdown class="d-inline-block">
                                                  <a type="button" class="btn-outline btnsign" ngbDropdownToggle><img style="width: 30px;height:30px" src="{{url}}/storage/images/trainer/{{user.photo_profil}}"  class="rounded-circle float-right"> {{user.firstname}} {{user.secondname}}</a>
                                                  <div class="dropdown-menu" ngbDropdownMenu>
                                                    <div class="profile-sidebar">
                                                        <!-- SIDEBAR USERPIC -->
				                                        <div class="profile-userpic">
					                                        <img  style="height: 84px;width: 84px;" src="{{url}}/storage/images/trainer/{{user.photo_profil}}" class="img-responsive" alt="">
				                                        </div>
				                                        <!-- END SIDEBAR USERPIC -->
				                                        <!-- SIDEBAR USER TITLE -->
				                                        <div class="profile-usertitle">
					                                        <div class="profile-usertitle-name">
						                                        {{user.firstname}} {{user.secondname}}
                                                                <i class="ti ti-pencil" (click)="goToprofileTrainer()"></i>
					                                        </div>
					                                        <div class="profile-usertitle-job">
                                                                {{user.email}}
					                                        </div>
				                                        </div>
				                                        <!-- END SIDEBAR USER TITLE -->
                                                    </div>
                                                    <div class="dropdown-divider"></div>
                                                    <button ngbDropdownItem [routerLink]="'/trainerme/appointments'"><i class="ti ti-calendar"></i> Appointments</button>
                                                    <button ngbDropdownItem [routerLink]="'/trainerme/revenus'"><i class="ti ti-bar-chart-alt"></i> Revenus</button>

                                                    <button ngbDropdownItem [routerLink]="'/trainerme/chats'"><i class="ti ti-comments"></i> Messages</button>
                                                    <button ngbDropdownItem  [routerLink]="'/trainerme/notifications'"><i class="ti ti-bell"></i> Notifications</button>
                                                    <button ngbDropdownItem  [routerLink]="'/trainerme/myprofile'"><i class="ti ti-comment-alt"></i> My Reviews</button>

                                                    <button ngbDropdownItem (click)="logout()"><i class="ti ti-power-off" ></i> Logout</button>
                                                  </div>
                                                </div>
                                                
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div> 
                     
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

