<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/admin/dashboard"
  ><span class="menu-title" >Dashboard</span
  ></a>
</div>

<!-- Layout Builder -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/admin/builder"
  ><span class="menu-title">Layout Builder</span></a
  >
</div>

<!-- Crafted -->
<div
  class="menu-item menu-lg-down-accordion me-lg-1 menu-dropdown"
  data-kt-menu-trigger="click"
  data-kt-menu-placement="bottom-start"
>
  <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/crafted')">
    <span class="menu-title">Crafted</span>
    <span class="menu-arrow d-lg-none"></span>
  </span>
  
  <div
    class="
      menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0
      py-lg-4
      w-lg-225px
    "
    data-kt-menu-dismiss="true"
    data-popper-placement="bottom-start"
  >
  <div class="menu-item me-lg-1">
    <a class="menu-link py-3" routerLinkActive="active" routerLink="/admin/features/specialities"
    >
    <span class="menu-icon">
      <span
        [inlineSVG]="'../../../../assets/dashboard/media/icons/duotune/art/art002.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title">Specialities</span></a
    >
  </div>
  <div class="menu-item me-lg-1">
    <a class="menu-link py-3" routerLinkActive="active" routerLink="/admin/features/contacts"
    >
    <span class="menu-icon">
   
      <span class="svg-icon svg-icon-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z" fill="black" />
          <path d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z" fill="black" />
        </svg>
      </span>
    </span>
    <span class="menu-title">Tickets Contacts</span></a
    >
  </div>
  
  <div
  class="menu-item menu-lg-down-accordion me-lg-1"
  data-kt-menu-trigger="{default:'click', lg: 'hover'}"
  data-kt-menu-placement="right-start"
>
  <span
    class="menu-link py-3"
    [ngClass]="calculateMenuItemCssClass('/admin/features/users')"
  ><span class="menu-icon"><i class="bi fs-3 bi-layers"></i></span
  ><span class="menu-title" data-link="/admin/features/users">Users Management</span
  ><span class="menu-arrow"></span
  ></span>
  <div
    class="
      menu-sub
      menu-sub-lg-down-accordion
      menu-sub-lg-dropdown
      menu-rounded-0
      py-lg-4
      w-lg-225px
    "
    data-kt-menu-dismiss="true"
  >
    <div class="menu-item me-lg-1">
      <a
        class="menu-link py-3"
        routerLinkActive="active"
        routerLink="/admin/features/users/clients"
      ><span class="menu-bullet"
      ><span class="bullet bullet-dot"></span></span
      ><span class="menu-title">Clients</span></a
      >
    </div>
    <div class="menu-item me-lg-1">
      <a
        class="menu-link py-3"
        routerLinkActive="active"
        routerLink="/admin/features/users/trainers"
      ><span class="menu-bullet"
      ><span class="bullet bullet-dot"></span></span
      ><span class="menu-title">Trainers</span></a
      >
    </div>
    <div class="menu-item me-lg-1">
      <a
        class="menu-link py-3"
        routerLinkActive="active"
        routerLink="/admin/features/users/admins"
      ><span class="menu-bullet"
      ><span class="bullet bullet-dot"></span></span
      ><span class="menu-title">Administrators</span></a
      >
    </div>
    <div class="menu-item me-lg-1" *ngIf="Role=='superadmin'">
      <a
        class="menu-link py-3"
        routerLinkActive="active"
        routerLink="/admin/features/users/add-admin"
      ><span class="menu-bullet"
      ><span class="bullet bullet-dot"></span></span
      ><span class="menu-title">Add Admin accounts</span></a
      >
    </div>
  
  </div>
</div>


<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/admin/features/reports"
  >
  <span class="menu-icon">
 
    <span class="svg-icon svg-icon-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z" fill="black" />
        <path d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z" fill="black" />
      </svg>
    </span>
  </span>
  <span class="menu-title">Reviews Reports</span></a
  >
</div>


    <div
      class="menu-item menu-lg-down-accordion me-lg-1"
      data-kt-menu-trigger="{default:'click', lg: 'hover'}"
      data-kt-menu-placement="right-start"
    >
      <span
        class="menu-link py-3"
        [ngClass]="calculateMenuItemCssClass('/crafted/account')"
      ><span class="menu-icon"><i class="bi fs-3 bi-person"></i></span
      ><span class="menu-title" data-link="/crafted/account"> My Account</span
      ><span class="menu-arrow"></span
      ></span>
      <div
        class="
          menu-sub
          menu-sub-lg-down-accordion
          menu-sub-lg-dropdown
          menu-rounded-0
          py-lg-4
          w-lg-225px
        "
        data-kt-menu-dismiss="true"
      >
        <div class="menu-item me-lg-1">
          <a
            class="menu-link py-3"
            routerLinkActive="active"
            routerLink="/admin/crafted/account/overview"
          ><span class="menu-bullet"
          ><span class="bullet bullet-dot"></span></span
          ><span class="menu-title">Overview</span></a
          >
        </div>
        <div class="menu-item me-lg-1">
          <a
            class="menu-link py-3"
            routerLinkActive="active"
            routerLink="/admin/crafted/account/settings"
          ><span class="menu-bullet"
          ><span class="bullet bullet-dot"></span></span
          ><span class="menu-title">Settings</span></a
          >
        </div>
      </div>
    </div>


  </div>
</div>




